
<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid;padding:7px;margin-bottom:5px;background: #01DF01;height:17px;border-radius:10px">

    <a th:href="@{/}">Home</a>

   <a> | &nbsp;</a>

    <a  th:href="@{/menu}">Menu</a>

    <a> | &nbsp;</a>

    <a style="position:relative;left:82%;"  th:if="${#request.userPrincipal == null}" th:href="@{/sign_in}" >
        Sign in</a>
    <a th:if="${#request.userPrincipal != ROLE_ADMIN}" th:href="@{/add_user}">Add user</a>
    <a th:if="${#request.userPrincipal != null}" > | &nbsp;</a>

    <a th:if="${#request.userPrincipal != null}" th:href="@{/sign_out}">Sign out</a>

    <a th:if="${#request.userPrincipal != null}" th:href="@{/comp}">Composition</a>


</div>