<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet" >
    <style type="text/css">
   body {
   margin: 0;
   background:#151515 url(/images/roll.jpg);
   }
   #header {
    height: 60px;
    background: #FACC2E;
    border-bottom: 2px solid;
    margin-bottom:5px;
    text-align:center;
    font-size:120%;
   }

    </style>
</head>
<body>
<div id="header"><h1>BANZAI</h1></div>
<th:block th:include="/fragments/main"></th:block>
<th:block th:include="/fragments/sort"></th:block>
<div>
    <div>
        <h2 style="text-align:center;" th:if="${rolls eq null or rolls.empty}">There are no more rolls in the menu!</h2>
        <div th:if="${rolls ne null}">
            <table  border="1" cellpadding="4" cellspacing="0">
                <thead>
                <tr>
                    <th>name</th>
                    <th>type of roll</th>
                    <th>weight, g</th>
                    <th>calorie content, kcal</th>
                    <th>composition</th>
                    <th>price, $</th>
                    <th th:if="${#request.userPrincipal != null}">edit</th>
                    <th th:if="${#request.userPrincipal != null}">delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${rolls}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.typeOfRoll}"></td>
                    <td th:text="${item.weight}"></td>
                    <td th:text="${item.calorieContent}"></td>
                    <td th:text="${item.composition}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:if="${#request.userPrincipal != null}" style="background-color: #01DF01;"><a
                            th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
                    <td th:if="${#request.userPrincipal != null}" style="background-color: #DF0101;"><a
                            th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a style="background-color: #01DF01;border: 1px solid #000000;padding:4px;border-radius:10px;"
              th:if="${#request.userPrincipal != null}" href="/new_roll">Add roll</a></p>
    </div>
</div>


</body>

</html>