<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update Roll</title>
    <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet" >
    <style type="text/css">
   body {
   margin: 0;
   background:#151515 url(/images/roll.jpg);
   }
   #header {
    height: 60px;
    background: #FACC2E;
    border-bottom: 2px solid;
    margin-bottom:5px;
    text-align:center;
    font-size:120%;
   }
  </style>
</head>
<body>
<div id="header"><h1>BANZAI</h1></div>
<th:block th:include="/fragments/main"></th:block>
<div>
    <h2>Update roll</h2>
    <div>
        <div>
            <form action="#" th:action="@{/update/{id}(id=${roll.id})}" th:object="${roll}" method="post">
                <div>
                    <div>
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" id="name" placeholder="name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div>
                        <label for="typeOfRoll">Type of roll</label>
                        <input type="text" th:field="*{typeOfRoll}" id="typeOfRoll" placeholder="typeOfRoll">
                        <span th:if="${#fields.hasErrors('typeOfRoll')}" th:errors="*{typeOfRoll}"></span>
                    </div>
                    <div>
                        <label for="weight">Weight</label>
                        <input type="text" th:field="*{weight}" id="weight" placeholder="weight">
                        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
                    </div>
                    <div>
                        <label for="calorieContent">Calorie content</label>
                        <input type="text" th:field="*{calorieContent}" id="calorieContent" placeholder="calorieContent">
                        <span th:if="${#fields.hasErrors('calorieContent')}" th:errors="*{calorieContent}"></span>
                    </div>
                    <div>
                        <label for="composition">Composition</label>
                        <input type="text" th:field="*{composition}" id="composition" placeholder="composition">
                        <span th:if="${#fields.hasErrors('composition')}" th:errors="*{composition}"></span>
                    </div>
                    <div>
                        <label for="price">Price</label>
                        <input type="text" th:field="*{price}" id="price" placeholder="price">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <input style="background-color: #01DF01;border: 1px solid #000000;padding:4px;
                        border-radius:10px" type="submit" value="Update roll">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>